{% extends 'base.html.twig' %}

{% block body %}
    <head>


		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <link rel="stylesheet" type="text/css" href="{{asset("css/conBoot.css")}}">
         <link rel="stylesheet" type="text/css" href="{{asset("css/index.css")}}">

        <title>Bienvenu sur la page de contact </title>

    </head>

    <hr class="featurette-divider">

     <h2 class = "mt-5" style="text-align: center;color: rgba(12,94,98,1);">Nous Contacter ! </h2>
     <div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:50PX;"></div>

<form>
  <div class="mb-5"></div>
  <div class="row">



     <div class="col-md-3">
      <h5>Adresse:</h5>
      <div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3px;margin-left: 0px;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:50PX;"></div>
<p class ="lead mb-4"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
  <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
</svg>
72140 Rouez en Champagne
</p>
    <h5>Téléphone:</h5>
    <div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3px;margin-left: 0px;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:50PX;"></div>
<p class ="lead mb-4"> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
</svg>02 47 36 70 34</p>
<h5>Email:</h5>
<div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3px;margin-left: 0px;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:50PX;"></div>
<p class ="lead mb-4"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-open-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/>
</svg>
infos@legermain.com
</p>
<h5>Réseaux sociaux:</h5>
<div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3px;margin-left: 0px;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:50PX;"></div>
<p class ="lead mb-4">
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
</svg>
Artisanat Bois Création
</p>


    </div>



    <div class="col">


      <div class="row">

        <div class="col">
          <label for="inputEmail4 ">Nom</label>
      <input type="text" class="form-control " placeholder=" Saississez votre nom">
    </div>
     <div class="col">
      <label for="inputEmail4 ">Téléphone</label>
      <input type="text" class="form-control " placeholder="EX: 00 00 00 00 00 ">
    </div>
     <div class="col">
      <label for="inputEmail4 ">Mail</label>
      <input type="text" class="form-control " placeholder="exemple@gmail.com">
    </div>

    </div>


        <label for="inputEmail4 ">Objet</label>
        <select class="form-control">
        <option class="">Devis</option>
        <option>Information</option>
        <option>Prendre un rendez-vous</option>
        <option>Autres</option>
        <select/>



          <label for="inputEmail4">Message</label>
       <textarea name="mes" class="form-control" id="msg" placeholder="Votre message"></textarea><br/>




   <button style=" background-color:rgba(12,94,98,1);" type="button" class="btn btn-primary" type="submit">Envoyer</button>

   <button style=" background-color:rgba(12,94,98,1);" type="button" class="btn btn-primary" type="submit">Effacer</button>



  </div>


  </div>

</form>

<hr class="featurette-divider">

<iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24479.052770857917!2d0.7213492277536205!3d47.362861764523664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1601577870632!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

{% endblock %}
